/* --------------- Variáveis Globais --------------- */

html,
body {
  width: 100%;
  max-width: 100svw;
}

html {
  font-size: 12px;
}

body {

/* --------------------Definindo as Variáveis de Ambiente CSS -------------------- */

  --font-title: var(--font-poppins);
  --font-text: var(--font-nunito);
  --font-input: var(--font-poppins);
  --font-button: var(--font-poppins);

 

    /* ------------------- Definindo as variáveis de estilo ------------------- */

  /* Fundos */
  --background: #FFFFFF;
  --foreground: #0298A7;
  --footer-background: #2f3a45;
  --header-background: #ffe8d159;
  --button-background: #FF8C3F;

  /* Fontes */
  --text-primary: #000000;
  --text-secondary: #FFFFFF;
  --header-text: #324B4F;

  /* Elementos Interativos */
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 30svh;
  padding: 6% 0 0 0;
}

.page {
  width: 100%;
}

/* --------------- Resetando estilos Padrões --------------- */

/* Margens, Bordas e Cálculo de Dimensões */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Estilos de Links */

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}