/* ------------------- Classe Principal da Página Principal ------------------- */

.index {
  display: flex;
  color: black;
  min-height: min-content;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-geist-sans);

  .section_hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .content_informationsHero {
      display: flex;
      flex-direction: column;
      width: 45%;
      min-height: 60%;
      row-gap: 20px;
      padding: 2%;

      .impact_title {
        text-align: justify;
        font-size: 3.5rem;
        font-weight: 600;
      }

      .impact_subtitle {
        color: var(--subtitle-primary);
        text-align: justify;
        font-size: var(--font-size-subtitle);
        font-weight: 400;
      }
    }
    .content_imageHero {
      overflow: hidden;
      max-width: 50%;
      max-height: 70%;
      border-radius: 50px 0 0 50px;
    }
  }

  .section_mediaCourses {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title_mediaCourses {
      padding: 2% 0;
      font-weight: 400;
    }

    .content_mediaCourses {
      width: 100%;
      height: 80%;
      background: var(--foreground);
    }
  }

  .section_contact {
    display: flex;
    align-items: center;
    padding: 2% 4%;
  }
}

/* #forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 70%;
  row-gap: 30px;
  border: 1px solid black;
} */

/* ------------------- Adaptações de Tela e Dispositivos ------------------- */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

/* Adaptação para Tema escuro do Navegador */

@media (prefers-color-scheme: dark) {
  /* .logo {
    filter: invert();
  } */

  /* .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  } */
}
