.confirm_button {

    /* Propriedades de Definição */
    min-width: min-content;
    max-width: 250px;
    max-height: 64px;
    padding: 2% 4%;
    font-size: 2rem;
    cursor: pointer;

    /* Propriedades de Estilo */
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--button-primary);
    background-color: var(--button-background);
}