.confirm_button {

    /* Propriedades de Definição */

    width: max-content;
    height: max-content;
    max-width: 250px;
    max-height: 64px;
    padding: 0.7rem 2rem;
    font-size: 2rem;
    cursor: pointer;

    /* Propriedades de Estilo */
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--button-background);
}